<div id="<%= dom_id acao %>">
  <p>
    <strong>Tipo acao:</strong>
    <%= acao.tipo_acao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= acao.valor %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= acao.usuario_id %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= acao.categoria_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= acao.data %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= acao.descricao %>
  </p>

</div>
