<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nome:</strong>
    <%= usuario.nome %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= usuario.login %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= usuario.senha %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= usuario.admin %>
  </p>

  <p>
    <strong>Icone:</strong>
    <%= usuario.icone %>
  </p>

  <p>
    <strong>String:</strong>
    <%= usuario.string %>
  </p>

</div>
